LYRANEST_VERSION=0.1.8
SERVER_PORT=8080
PUID=1000
PGID=1000

MUSIC_LIBRARY_HOST_DIR=./music
DATA_DIR=./data
CACHE_DIR=./cache

SERVER_MEMORY_LIMIT=256m
SERVER_MEMORY_RESERVATION=128m
GOMEMLIMIT=192MiB
GOGC=100

LOG_LEVEL=info
SHUTDOWN_TIMEOUT=10s
AUTH_SESSION_TTL=24h

MUSICBRAINZ_USER_AGENT=LyraNest/0.1.8 (+https://github.com/WHWgogogo/LyraNest)
MUSICBRAINZ_BASE_URL=https://musicbrainz.org
MUSICBRAINZ_TIMEOUT=20s

HTTP_PROXY=
HTTPS_PROXY=
NO_PROXY=
